<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Добавление слов</title>
</head>
<body>
    <h1>Форма добавления перевода</h1>
    <form method="POST" action="">
        <label for="word1">Оригинал:</label>
        <input type="text" id="word1" name="word1" required>
        <br>
        <label for="word2">Перевод:</label>
        <input type="text" id="word2" name="word2" required></input>
        <br>
        <input type="submit" value="Submit">
        {% csrf_token %}
    </form>
</body>
</html>

