<!-- <!DOCKTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block heading %}{% endblock %}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>{{ company_name }}</p>
    </footer>
</body>
</html> -->


<!-- def {% with total=business.employees.count %}
{{ total }} ?employee
{% endwith %} -->



<form method="post" enctype="multipart/form-data">
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
</form>